:root {
  --color-blue-600: hsl(234, 25%, 52%);
  --color-blue-900: hsl(233, 54%, 16%);
  --color-grey: hsl(232, 10%, 56%);
  --color-pink-300: hsl(341, 100%, 83%);
  --color-pink-600: hsl(341, 92%, 62%);
  --color-white: hsl(0, 0%, 100%);
  --gradient-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 800;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
